.thin-font {
  font-weight: 100;
}

body {
  text-align: center;
}

header {
  text-align: center;
}

header h1 {
  font-size: 3em;
}

header h2 {
  font-size: 1.5em;
}

article div#canvas-holder {
  position: relative;

  margin-top: 3%;
  margin-bottom: 3%;
}

article div#canvas-holder canvas {
  border: 1px solid #1e1e1e;

  position: absolute;
  top: 0;
  left: 0;
}